.bigwahala{
    max-width: 70vw;
   width: 100%;
   margin: auto ;
   margin-top: 5rem;
   font-size: 2rem;
}
.uldisplay{
    list-style-type: none;
    padding: 10px;

}
.uldisplay li{
    padding: .7rem;
    font-size: 20px;
}
h2{
    text-align: center;
    margin: 3rem;
}
.ButtonGit{
    margin-top: 4rem;
   text-align: center;
}
hr{
    height: .1rem;
    background-color: brown;
}
.hr{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.visibitydiv{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.issuesdiv{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}